 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');

:root {
    /* colors */
    --yellow: hsl(40, 97%, 58%);
    --dark: hsl(215, 14%, 23%);
    --dark-navy: hsl(216, 17%, 35%);
    --dim-grey: hsl(217, 12%, 62%);
    --light-grey: hsl(212, 41%, 93%);
    --snow: hsl(214, 37%, 96%);
    --light-yellow: hsl(39, 100%, 94%);

        /* font size for mobile */
    --fs-m-v1-700: 2.5rem;
    --fs-m-v2-700: 2rem;
    --fs-m-v3-700: 1.5rem;
    --fs-m-v4-700: 1.25rem;

       /* font familly for tablet & desktop*/
    --ff-body: 'Lexend Deca', sans-serif;
    --ff-heading: 'Space Mono', monospace;

    /* font size */
    --fs-400: .938rem;
    --fs-v1-700: 3.5rem;
    --fs-v2-700: 3rem; 
    --fs-v3-700: 2.5rem;
    --fs-v4-700: 1.5rem; 
    --fs-v5-700: 1.125rem;

    /* font weight */
    --fw-400: 400;
    --fw-700: 700;
}

 /* reset setting */
 *,
 *::after,
 *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 :focus {
     outline: none;
 }

 picture,
 img {
    min-width: 100%;
    display: block;
 }

 body {
    font-family: var(--ff-body);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    line-height: 1.5;
    overflow-x: hidden;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-family: var(--ff-heading);
    line-height: 1.1; 
 }

 a {
    text-decoration: none;
 }

 li {
    list-style: none;
 }
 /* end reset setting */


 /* global style */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--yellow);
    color: var(--light-grey);
    width: 12.188rem;
    height: 3.313rem;
    border: 3px solid var(--yellow);
    transition: .6s cubic-bezier(0.61, 1, 0.88, 1);
    font-family: var(--ff-heading);
}

.btn:hover,
.btn:focus {
    background: transparent;
    color: var(--yellow);
    border: 3px solid var(--yellow);
}
 /* end global style */


/* header section */
#header {
    position: relative;
    z-index: 1000;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

#header .header {
    background-color: none;
    transition: .3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    height: 4rem;
    padding: 1.8rem 2rem;
}

#header .nav-list .nav-item {
    position: absolute;
    background-color: var(--dark-navy);
    /* width: 16rem; */
    height: 100vh;
    left: 100%;
    top: auto;
    margin-top: 1.1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1) left;
    padding: 3rem 2rem;
}

#header .nav-list .nav-item li a {
    color: var(--light-grey);
    text-transform: capitalize;
    font-family: var(--ff-heading);
    font-size: var(--fs-v5-700);
    line-height: 2;
}

#header .nav-list .nav-item .btn {
    margin-top: 52vh;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .hamburger {
    height: 30px;
    width: 30px;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.7);
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
}

#header .hamburger .bar {
    height: 3px;
    width: 35px;
    position: relative;
    background-color: var(--yellow);
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: var(--yellow);
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

.nav-btn {
    display: none;
}
/*end header section */


/* hero section */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-container picture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 1.5rem;
    position: absolute;
    top: 20%;
}

.hero-desc h1 {
    font-size: var(--fs-m-v1-700);
    text-align: center;
    color: var(--light-grey);
}

.hero-desc p {
    text-align: center;
    color: var(--light-grey);
    padding: 1.4rem 0;
}

.right-arrow {
    position: absolute;
    bottom: 4%;
    left: 0;
}
/* end hero section */


/* services section */
.services {
    padding: 6rem 1.2rem;
}

.service {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}

.service img {
    width: 56px;
}

.service h2 {
    text-align: center;
    color: var(--dark-navy);
    font-size: var(--fs-m-v4-700);
    padding: 1.5rem 0;
}

.service p {
    text-align: center;
    color: var(--dim-grey);
}
/* end services section */


/* facility section */
.facility {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
}

.item-one picture {
    position: absolute;
    top: 26%;
    left: 2%;
}

.item-two picture {
    position: absolute;
    top: 5%;
    right: 50%;
}

.item-three picture {
    position: absolute;
    top: 2%;
    left: 35%;
}

.images .image {
    width: 410px;
    border-radius: 50%;
    padding: 0 2rem;
    margin: 0 auto;
}

.facility-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1.35rem;
}

.facility-text h3 {
    font-size: var(--fs-m-v2-700);
    color: var(--dark-navy);
}

.facility p {
    color: var(--dark-navy);
    padding: 2rem 0;
}
/* end facility section */


/* sign up section */
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-navy);
    color: var(--light-grey);
    position: relative;
    padding: 3rem 1rem;
}

.signup picture {
    position: absolute;
    bottom: 0;
}

.signup h4 {
    font-size: var(--fs-m-v2-700);
    text-align: center;
}

.signup-icon {
    margin: 1rem .5rem;
}

.signup-icon {
    padding: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
/* end sign up section */


/* footer section */
.footer-info {
    background-color: var(--dark);
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-logo img {
    width: 110px;
    filter: brightness(0) invert(1);
}

.nav-links {
    margin: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-links a {
    color: var(--light-grey);
    text-transform: capitalize;
    font-family: var(--ff-heading);
    transition: .6s cubic-bezier(0.33, 1, 0.68, 1);
}

.nav-links  a:hover,
.nav-links a:focus {
    color: var(--yellow);
}

.social-icons {
    display: flex;
    gap: 1.4rem;
    font-size: 1.7rem;
    margin-top: 3rem;
}

.social-icons a {
    color: var(--yellow);
    transition: .4s cubic-bezier(0.12, 0, 0.39, 0);
}

.social-icons a:hover,
.social-icons a:focus {
    color: var(--snow);
}
/* end footer section */


/* media query */
@media only screen and (min-width: 768px) {
    #header .hamburger {
    display: none;
    }

    .nav-item .btn {
    display: none;
    }

    .nav-btn {
    display: inline-block;
    }

    #header .nav-list .nav-item {
    position: initial;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    gap: 2.5rem;
    background-color: transparent;
    }

#header .nav-bar {
    flex-direction: row;
    width: 100%;
    height: 6rem;
    padding: 1.8rem 2.5rem;
}

.nav-list {
    display: flex;
}

#header .nav-list .nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .nav-list .nav-item {
    margin-top: 0rem;
    padding: 0;
}

#header .nav-list .nav-item li a {
    color: var(--dark);
    transition: .6s cubic-bezier(0.37, 0, 0.63, 1);
}

#header .nav-list .nav-item li a:hover,
#header .nav-list .nav-item li a:focus {
    color: var(--yellow);
}

.hero-desc .text h1 {
    font-size: var(--fs-v1-700);
    width: 575px;
}

.hero-desc .text p {
    width: 575px;
}

.services {
    padding: 6rem 5rem;
}

.service {
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.service .line {
    position: absolute;
    height: 512px;
    width: 20px;
    background-color: var(--light-grey);
    z-index: -1;
    top: -23rem;
    left: 2.3rem;
}

.service .icon img {
    width: 96px;
}

.service-text {
    margin-left: 5rem;
}

.service-text h2,
.service-text p {
    text-align: left;
    width: 100%;
}

.signup h4 {
    font-size: var(--fs-v2-700);
    width: 450px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 0 2rem;
}

.nav-links {
    flex-direction: row;
    margin: 0;
}

.social-icons {
    margin: 0;
}
}
/* end media query for tablet */


/* media query for desktop */
@media only screen and (min-width: 920px) {
    .outline {
    position: absolute;
    display: block;
    height: 62px;
    width: 62px;
    border: 3px solid var(--light-grey);
    border-radius: 50%;
    right: 4%;
    bottom: 5%;
}
.outline-2 {
    position: absolute;
    display: block;
    height: 62px;
    width: 62px;
    border: 3px solid var(--light-grey);
    border-radius: 50%;
    right: 9%;
    bottom: 5%;
}
.fill-3 {
    position: absolute;
    display: block;
    height: 62px;
    width: 62px;
    background: var(--light-grey);
    border-radius: 50%;
    right: -1%;
    bottom: 5%;
}
.services {
    display: flex;
    padding: 8rem 2rem;
    margin-top: 12rem;
    position: relative;
}
.service {
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.service .line {
    position: absolute;
    width: 500px;
    height: 20px;
    background-color: var(--snow);
    top: -7.5rem;
    left: -24rem;
}

.service-text p {
    text-align: left;
    max-width: 350px;
    max-height: 100px;
}

.service .icon {
    position: absolute;
    left: 4.5rem;
    bottom: 15rem;
}

.facility {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 0 4rem;
}

.facility h3 {
    font-size: var(--fs-v2-700);
    max-width: 500px;
}

.facility p {
    max-width: 500px;
}

.item-one {
    display: flex;
    flex-direction: row-reverse;
}

.item-three {
    display: flex;
    flex-direction: row-reverse;
}

.images .image {
    padding: 3rem 5rem;
}

.facility .images {
    flex: 1;
    max-width: 650px
}

.facility .facility-text {
    flex: 1;
    max-width: 650px;
    align-items: flex-start;
}

.item-one picture {
    top: 46%;
    left: 55%;
}

.item-two picture {
    top: 0%;
    right: 40%;
    transform: scale(.5);
}

.item-three picture {
    top: 10%;
    left: 65%;
}

.signup {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
    height: 300px;
}

.signup h4 {
    max-width: 500px;
    text-align: left;
}

}
/* end media query for desktop */